*
{
	box-sizing: border-box;
	padding:0;
	margin: 0;
	font-family: oxygen,sans-serif;
}

.min-h-screen{
	min-height: 100vh;
}

.mx-auto{
	margin-left: auto;
	margin-right: auto;
}

.main-content{
	width : 80%;
}

.bg-pink{
	
}

header{
	background-color: seagreen;
	padding: 30px;
}

.header-content{
	font-size: 1.45rem;
	text-shadow: 2px 2px #ff0000;
	float: left;
}

.content{
	padding: 50px;
	text-align: justify;
	line-height: 2rem;
}

.navbar{
	font-size: 1.75rem;
}

.menu{
	display: flex;
	list-style-type: none;
	justify-content: space-evenly;
}

.head{
	text-align: center;
	padding-top :40px;
	font-size: 2.5rem;
}

.rows{
	margin-top: 30px;
	margin-bottom: 30px;
	background-color: #A24857;
	box-shadow: 15px 5px #888888;
}

span{
	text-decoration: underline;
}

.active:hover{
	background-color: mediumpurple;
  	color: white;
}

.head:hover{
	transition: 1s;
	scale: 1.1;
	color: #fff;
}

/*small devices: mobile view*/

@media(max-width:768px)
 { .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7,
 .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12{
    float:left;
    border: 1px solid grey;
 }
 .col-sm-12{
    width: 100%;
    padding-right: 15px;
   	padding-left: 15px;
 }
 }
 

/*medium devices: tablet view*/

@media(min-width:769px) and (max-width: 991px)
    { .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7,
 .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12{
    float:left;
    border: 1px solid grey;
 }
  .col-md-12{
    width: 100%;
    padding-right: 15px;
   	padding-left: 15px;
 }
 }

/*large devices: small and large dekstop version*/

@media(min-width:992px)
 { .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7,
 .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12{
   float:left;
   border: 1px solid grey;
 }
  .col-lg-12{
    width: 100%;
    padding-right: 15px;
   	padding-left: 15px;
 }
 }

